body {
  margin: 20px;
}

form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 20px 0;
  padding: 1em;

  border: 2px solid black;
}

form input, form label {
  display: block;
}

form input {
  margin: 10px 0;
}

.product-list {
  padding: 1em;

  background-color: #DDD;
  list-style: none;
}

li {
  background-color: rgb(35, 95, 35);

  margin: 10px;

  overflow: hidden;

  display: flex;
  justify-content: flex-start;
}

.product-list li > div {
  background-color: rgb(156, 109, 20);

  margin: 10px;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
}

.color-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-col div {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;

  padding: 0.3em;
}
