body {
  margin: 20px;
}

form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 20px 0;
  padding: 1em;

  border: 2px solid black;

}

form input, form label {
  display: block;
}

form input {
  margin: 10px 0;
}
